.App{
    text-align: center;
    width: 30px;
    background-color:skyblue;
    height: 220px;
    font-size: 130px;
    /* padding-left: 80px; */
    margin-bottom: 30px;
    /* margin-top: 70px; */
}
.checkbox{
    text-align: center;
    border-radius: 12px;
    margin-bottom: 40px;
    
    
    
}
.input{
    width: 300px;
    height: 180px;
    font-size: 100px;
    text-align: center;
    color:blue;
    /* margin-top: 70px; */
    /* background-color: skyblue; */
}
.box{
    width: 25px;
    height: 25px;
    border-width: 10px;
}